extends layout

block content
  h1= title
  p Welcome to #{title}
  script(src="/javascripts/socket.io.js")
  script.
    var socket = io.connect(`#{socketLink}`);
    socket.on('connect', function(data) {
      socket.emit('pingServer', "hello server");});
    socket.on('pingClient',function(data) {
        alert("Server says: " + data);})
